@*@model IEnumerable<Quanlyduoc.Models.DauThuoc>*@

@{
    ViewBag.Title = "Danh sách đầu thuốc";
    Layout = "~/Areas/Admin/Views/Layout/AdminLayout.cshtml";

    var model = Model as List<Quanlyduoc.Models.DauThuoc>;
}
@section styles{
    <!-- Table -->
    <link href="~/Content/Admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/styleLocal.css" rel="stylesheet" />
}
@section scripts{
    <!-- Table -->
    <script src="~/Content/Admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        var scope;
        myapp = angular.module("myapp", []);
        myapp.controller('global', ['$scope', '$http', function ($scope, $http) {
            $scope.listNhomThuoc = @Html.Raw(Json.Encode(ViewBag.NhomThuoc));
            $scope.nhomSelect = @Html.Raw(Json.Encode(ViewBag.nhomSelect));
            if ($scope.nhomSelect != null && $scope.nhomSelect != "") {
                $scope.maNhomThuoc = $scope.nhomSelect;
            }
            
            scope = $scope;
        }]);
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách đầu thuốc
        </h1>
        <a href="@Url.Action("Themdauthuoc", "DauThuoc")"><button class="btn btn-primary">Thêm mới</button></a>
    </section>

    <!-- Main content -->
    <section class="content">

        <style>
            .example-modal .modal {
                position: relative;
                top: auto;
                bottom: auto;
                right: auto;
                left: auto;
                display: block;
                z-index: 1;
            }

            .example-modal .modal {
                background: transparent !important;
            }
        </style>

        @* Modal Delete *@
        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                @using (Html.BeginForm("XoaDauThuoc", "DauThuoc", FormMethod.Post))
                {
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Xác nhận thao tác xóa</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Bạn có muốn xóa đầu thuốc: <span id="tenDauThuoc"></span> ?</h3>
                            <input id="maDauThuoc" style="color:#000;" type="hidden" name="MaDT" />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-outline pull-left" data-dismiss="modal" value="Hủy" style="width: 50px;">
                            <button type="submit" class="btn btn-outline">Thực hiện xóa</button>
                        </div>
                    </div>
                }
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div style="clear:both;"></div>
        <div class="row" style="margin-bottom: 7px;">
            <div class="col-xs-7 col-md-3">
                <label>Nhóm thuốc: </label>
                <select style="width: 65%; height: 35px;" ng-options="item.MaNhomThuoc as item.TenNhom for item in listNhomThuoc" ng-model="maNhomThuoc">
                    <option value="" selected="selected">All</option>
                </select>
            </div>
            <div class="col-xs-2 col-md-2">
                <a class="btn btn-default" href="/Admin/DauThuoc?maNhomThuoc={{maNhomThuoc}}">Lọc</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row-header">
                    @*<a href="@Url.Action("Themdauthuoc", "DauThuoc")"><button class="btn btn-primary" style="width: 80px;">Thêm mới</button></a>*@
                    <span style="color:green;">@ViewBag.Thanhcong</span>
                </div>
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">ID</th>
                                    <th class="col-md-2 col-xs-2 col-sm-2">Tên đầu thuốc</th>
                                    <th class="col-md-4 col-xs-4 col-sm-4">Công dụng</th>
                                    <th class="col-md-4 col-xs-4 col-sm-4">Cách dùng</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td class="col-md-1 col-xs-1 col-sm-1"><a href='@Url.Action("chitietdauthuoc", "DauThuoc", new { MaDT = item.MaDT })'>@Html.DisplayFor(modelItem => item.MaDT)</a></td>
                                        <td class="col-md-2 col-xs-2 col-sm-2">@Html.DisplayFor(modelItem => item.TenDauThuoc)</td>
                                        <td class="col-md-3 col-xs-3 col-sm-4">@Html.DisplayFor(modelItem => item.CongDung)</td>
                                        <td class="col-md-3 col-xs-3 col-sm-4">@Html.DisplayFor(modelItem => item.CachDung)</td>
                                        <td class="col-md-1 col-xs-1 col-sm-1" style="text-align: center;">
                                            <a href='@Url.Action("SuaDauThuoc", "DauThuoc", new { MaDT = item.MaDT })' style="padding: 0px 5px; font-size: 16px;"> <i class="fa fa-pencil"></i></a>
                                            <a href="" onclick='loadDataModal("@item.MaDT","@item.TenDauThuoc");' data-toggle="modal" data-target="#modal-danger" style="padding: 0px 5px; font-size: 17px; color: red;"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    i++;
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
    <script>
        function loadDataModal(MaDT, tenDauThuoc) {
            document.getElementById("tenDauThuoc").innerHTML = tenDauThuoc;
            document.getElementById("maDauThuoc").value = MaDT;
        }

        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });
    </script>
</div>

